{% extends 'music/base.html' %}
{% block title %}Home{% endblock %}

{% block body %}
<section style="margin-top: 50px;" class="hero">
    <div class="hero-content">
        <p style="font-weight: lighter;" class="wow fadeInDown" data-wow-delay="0.5s">SONIC <i style="font-size: 60px;" class="fa fa-2x fa-volume-up"></i></p>
        <a style="font-size: 30px; font-weight: lighter; text-align: center;" class="wow fadeInUp" href="#more" data-wow-delay="0.5s">" ENJOY YOUR MUSIC ANYWHERE YOU GO "</a>
    </div>
</section>


<div class="container content">
	<div class="row">
		<div class="col-xs-10 col-md-8 col-xs-offset-1 col-md-offset-2">
			<h1 style="margin-bottom: 30px;">WELCOME {{ user.username }}</h1>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
	</div>	
</div>



<div class="container-fluid features">
	<div class="row">
		<div class="features-head"><h1>FEATURES</h1></div>
		<div class="feature-item col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-0">
			<i class="icon fa fa-2x fa-plus"></i>
			<p class="feature-text">
				<p style="font-size: 25px;">ADD ALBUMS</p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat.
			</p>
		</div>
		<div class="feature-item col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-0">
			<i class="icon fa fa-2x fa-headphones"></i>
			<p class="feature-text">
				<p style="font-size: 25px;">LISTEN TO YOUR MUSIC ANYWHERE</p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat.
			</p>
		</div>
		<div class="feature-item col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-0">
			<i class="icon fa fa-2x fa-download"></i>
			<p class="feature-text">
				<p style="font-size: 25px;">DOWNLOAD TO OTHER DEVICES</p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. 
			</p>
		</div>
	</div>
</div>


<div class="container adding">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<h1 style="text-align: center; margin-bottom: 30px;">HOW DO I ADD ALBUMS ?</h1>
			<p id="album-list" style="text-align: center;">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
	</div>
</div>


<div class="container albums">
	<div class="row">
		<div class="col-xs-12">
			<div class="album-head"><h1>YOUR ALBUM LIST</h1></div>
		</div>
		<div class="col-xs-12">
			<div class="album-list">
				{% if queryset %}
					{% for album in queryset %}
					<div class="col-xs-4 album-item">
						<img class="album-img img-responsive" src="{{ album.album_art.url }}">
						<div class="album-info">
							<p class="album-name"><a style="color: rgba(0,0,0,1.00);" href="{% url 'music:album-update' album.id %}">{{ album.album_title }}</a></p>
							<hr>
							<p class="artist">{{ album.artist }}</p>
							<hr>
							<a href="{% url 'music:detail' album.id%}" class="details-link">View Details</a>
							<hr>
							<div class="fa-holder">
								{% if album.is_favorite %}
									<a style="color: yellow;" href="{% url 'music:favorite-album' album.id %}">
										<i style="width: 50px;" class="fa fa-star"></i>
									</a>
								{% else %}
									<a style="color: rgba(0,0,0,1.00);" href="{% url 'music:favorite-album' album.id %}">
										<i style="width: 50px;" class="fa fa-star"></i>
									</a>
								{% endif %}
								<a class="details-link" href="{% url 'music:album-delete' album.id %}"><i style="width: 50px;" class="fa fa-trash-o"></i></a>
							</div>
						</div>
					</div>
					{% endfor %}
					<div style="text-align: center; font-size: 17px;" class="col-xs-12">
						<div class="pagination">
							<span class="step-links">
								{% if queryset.has_previous %}
									<a style="color: rgba(0,0,255,0.7);" href="/music?page={{ queryset.previous_page_number }}&q={{ request.GET.q }}">previous</a>
								{% endif %}
								<span class="current">
									Page {{ queryset.number }} of {{ queryset.paginator.num_pages }}.
								</span>
								{% if queryset.has_next %}
									<a style="color: rgba(0,0,255,0.7);" href="/music?page={{ queryset.next_page_number }}&q={{ request.GET.q }}">next</a>
								{% endif %}
							</span>
						</div>
					</div>
				{% else %}
				<p>You currently have no albums in your playlist</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}